<div class="navbar">
  <div class="nav-logo">
    <p class="logo">CRAWLER APP</p>
  </div>
  <div class="nav-items">
    <ul>
      <li><%= link_to "Anexar", root_path %></li>
      <li><%= link_to "Dashboard", dashboards_path %></li>
    </ul>
  </div>
</div>